.jumbotron {
    background-image: url("../img/burgerpic2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #a04747;
    color: #ffffff;
    margin-top: 3%;
  }
  #newburger {
    color: #a04747;
  }
  #leftside {
    background-color: #a04747;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }
  #rightside {
    background-color: #a04747;
    color: white;
    text-align: center;
    font-size: 1.3em;
  }

button {
    background-color:black;
  }
